/* Estilos para headings breadcrumbs */

#heading-breadcrumbs {
  padding: 2rem 0 ;
  border-top: none !important;
  border-bottom: none !important;
}

#heading-breadcrumbs2 {
  padding: 2rem 0;
  margin-left: -0.75rem;
  margin-right: -3.25rem;
  border-top: none !important;
  border-bottom: none !important;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:root {
  --blue: #4e73df;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #e74a3b;
  --orange: #fd7e14;
  --yellow: #f6c23e;
  --green: #1cc88a;
  --teal: #20c9a6;
  --cyan: #36b9cc;
  --white: #fff;
  --gray: #858796;
  --gray-dark: #5a5c69;
  --primary: #4e73df;
  --secondary: #858796;
  --success: #1cc88a;
  --info: #36b9cc;
  --warning: #f6c23e;
  --danger: #e74a3b;
  --light: #f8f9fc;
  --dark: #5a5c69;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #3e3e3f;
  text-align: left;
  background-color: #fff;
}

#heading-breadcrumbs .breadcrumb {
  margin-bottom: 0;
  background: none;
  font-size: 0.9rem;
}
#heading-breadcrumbs2 .breadcrumb {
  margin-bottom: 0;
  background: none;
  font-size: 0.9rem;
}

#heading-breadcrumbs h1 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 0;
}
#heading-breadcrumbs2 h1 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 0;
}
#heading-breadcrumbs li {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
#heading-breadcrumbs2 li {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.background-pentagon, #heading-breadcrumbs {
  background: url("./../assets/patron.png") center center repeat;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
}

.background-pentagon, #heading-breadcrumbs2 {
  background: url("./../assets/patronAdmin.jpg") center center repeat;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
}

.alert {
  border-radius: 0;
}

a {
  color: #4975fa;
  text-decoration: none;
  background-color: transparent;
}

a {
  -webkit-transition: all 0.3s !important;
  transition: all 0.3s !important;
  display: inline-block;
}

a:focus, a:hover {
  color: #267280;
  text-decoration: underline;
}

/* Mapa */
#map {
  border-top: 1px solid #38a7bb;
  border-bottom: 1px solid #38a7bb;
  height: 300px;
}

/* 
Estilo para customer */
#customer-orders a.btn {
  margin-top: 0;
}

#customer-orders table {
  font-size: 0.9rem;
}

#customer-orders th {
  border-top: 0;
}

#customer-order img {
  width: 50px;
}

#customer-order tfoot th {
  font-size: 1.2rem;
  font-weight: 300;
}

#customer-order p {
  font-size: 1.2rem;
  font-weight: 300;
}

.sidebar-menu .badge {
  font-weight: 700;
  margin: 0;
}

.sidebar-menu.with-icons a.nav-link {
  position: relative;
}

.sidebar-menu.with-icons a.nav-link::before {
  content: '\f105';
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: 'FontAwesome';
}

ul ul a.nav-link {
  padding-left: 30px !important;
  font-size: 0.85rem;
  text-transform: none !important;
  font-weight: 400 !important;
  color: #777;
}

/* Ribbon */
.ribbon {
  width: 105px;
  height: 32px;
  line-height: 32px;
  background: #38a7bb;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 700;
  font-size: 0.9rem;
  margin-bottom: 20px;
  position: absolute;
  top: 42px;
  left: -15px;
  text-align: center;
}

.ribbon.sale {
  background: #38a7bb;
}

.ribbon.new {
  background: #5bc0de;
}

.ribbon.new::after {
  content: '';
  border-top: 15px solid #1f7e9a;
}

.ribbon.sold {
  background: #f0ad4e;
}

.ribbon.sold::after {
  content: '';
  border-top: 15px solid #b06d0f;
}

.ribbon.gift {
  background: #5cb85c;
}

.ribbon.gift::after {
  content: '';
  border-top: 15px solid #2d672d;
}

.ribbon:nth-of-type(2) {
  top: 82px;
}

.ribbon::after {
  content: '';
  border-top: 15px solid #236874;
  border-left: 15px solid transparent;
  border-right: 0 solid transparent;
  position: absolute;
  bottom: -15px;
  left: 0;
  display: block;
}


/* Categorias */
.category-menu a.nav-link {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 700;
}
/* 
Thumbs */
.owl-thumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.owl-thumbs button {
  background: none;
  border: none;
  margin: 5px;
  outline: none;
}
/* 
Blockquotes */
.blockquote {
  padding: 0.5rem 1rem;
  margin-bottom: 2rem;
  font-size: 1rem;
  border-left: 5px solid #38a7bb;
}

.blockquote-footer {
  color: #868e96;
}

.blockquote-footer::before {
  content: "\2014 \00A0";
}
/* 
Social */
ul.social {
  margin: 15px 0;
}

ul.social a {
  width: 28px;
  height: 28px;
  line-height: 28px;
  background: #555;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  margin: 0 2px;
  font-size: 0.8rem;
}

ul.social a:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

ul.social a.facebook {
  background: #4561ae;
}

ul.social a.gplus {
  background: #c22026;
}
/* 
Select */
.bs-select .dropdown-menu .dropdown-menu {
  min-height: 20px;
  display: block;
}

.bs-select .dropdown-menu .dropdown-menu a {
  padding: 6px 10px;
  color: #666;
  font-weight: 700;
  text-decoration: none !important;
  display: block;
  font-size: .8rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  outline: none;
}

/* .dropdown-item.active, .dropdown-item:active {
  background: #80cbd9;
} */
/* 
carousel general */
.owl-carousel.equal-height .owl-stage {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: stretch !important;
  -ms-flex-align: stretch !important;
  align-items: stretch !important;
}

.owl-carousel .owl-dots {
  margin-top: 20px;
  text-align: center;
}

.owl-carousel .owl-dots .owl-dot {
  display: inline-block;
  margin: 0 5px;
}

.owl-carousel .owl-dots .owl-dot.active span {
  background: #fff;
}

.owl-carousel .owl-dots .owl-dot span {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #aaa;
}

.owl-carousel {
  padding-top: 60px;
  padding-bottom: 20px;
}

.owl-carousel .owl-stage {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: stretch !important;
  -ms-flex-align: stretch !important;
  align-items: stretch !important;
}

/* Carrito */
#basket thead th {
  border-top: none;
}

#basket tfoot th {
  font-size: 1.25rem;
  color: #555;
}

#order-summary tr td {
  color: #999;
}

#order-summary tr.total {
  font-size: 1.25rem;
  color: #555;
  font-weight: 700;
}

#order-summary tr.total td {
  color: #555;
}

#checkout .nav-pills {
  margin-bottom: 30px;
  border-bottom: 1px solid #38a7bb;
}

#checkout .nav-pills a {
  font-size: 0.9rem;
  border-bottom: none !important;
}

#checkout .nav-pills a.disabled {
  cursor: not-allowed;
}

#checkout form label {
  margin-bottom: 5px;
}

#checkout .payment-method:hover, #checkout .shipping-method:hover {
  cursor: pointer;
}