/* Paginacion */
.page-item:first-child .page-link {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .page-item:last-child .page-link {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .page-item.active .page-link {
    color: #fff;
    background-color: #38a7bb;
    border-color: #38a7bb;
  }
  
  .page-item.disabled .page-link {
    color: #868e96;
    background-color: #fff;
    border-color: #dee2e6;
  }
  
  .page-link {
    padding: 0.5rem 0.75rem;
    line-height: 1.25;
    color: #38a7bb;
    background-color: #fff;
    border: 1px solid #dee2e6;
  }
  
  .page-link:focus, .page-link:hover {
    color: #267280;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
    outline: 0;
  }
  
  .pagination-lg .page-link {
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
    line-height: 1.5;
  }
  
  .pagination-lg .page-item:first-child .page-link {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .pagination-lg .page-item:last-child .page-link {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .pagination-sm .page-link {
    padding: 0.25rem 0.5rem;
    font-size: 0.7rem;
    line-height: 1.5;
  }
  
  .pagination-sm .page-item:first-child .page-link {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .pagination-sm .page-item:last-child .page-link {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }