/* 
Social */
ul.social {
    margin: 15px 0;
  }
  
  ul.social a {
    width: 28px;
    height: 28px;
    line-height: 28px;
    background: #555;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    margin: 0 2px;
    font-size: 0.8rem;
  }
  
  ul.social a:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  
  ul.social a.facebook {
    background: #4561ae;
  }
  
  ul.social a.gplus {
    background: #c22026;
  }